@font-face {
  font-family: fontone;
  src: url(/public/texgyreadventor-regular.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: fontone;
}

::-webkit-scrollbar {
  display: none;
}

.img-div {
  height: 100vh;
  width: 100%;
  /* background-color: rgb(100, 183, 255); */
  background-image: url("/public/background2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  height: 50vh;
  width: 25vh;
  background-image: url("/public/background.jpg");
  background-position: center;
  background-size: cover;
}

.section-box {
  height: 200vh;
  width: 100%;
}

.nav {
  /* flex justify-between h-[10vh] w-[100%] p-5 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  padding: 0 5vw;
  background-image: url("/public/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: beige;
}

.content-box {
  /* h-[90vh] w-[100%] flex flex-col items-stretch justify-between pt-10 pb-10 pl-5 pr-5 */
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 0 15vw;
  background-image: url("/public/background2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.dot-box {
  /* h-[5vh]  flex justify-between */
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: black;
  border-radius: 50px;
}
